# Node.js
node_modules

# MacOS shenanigans
.DS_Store

# local environment vars
config/environment.json
server/config/environment.json
.env

# compiled output
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*
